<html>
  <head>
      <link rel= "stylesheet"
            type= "text/css"
            href="{{url_for('static',
                  filename=
                  'styles/style.css')}}">
  </head>
  <body>
    <h1>Centro de Salud "3 de Mayo"</h1>
    <div id="output">
      <form method="POST">
        <input type="number"
               name="id"
               step="1"
               min="1"
               placeholder="ID Paciente"
               required>
        <input type="text"
               name="nombre"
               placeholder="Nombre"
               required>
        <input type="text"
               name="apellido_paterno"
               placeholder="Apellido Paterno"
               required>
        <input type="text"
               name="apellido_materno"
               placeholder="Apellido Materno"
               required>
        <input type="text"
               name="region"
               placeholder="Region"
               required>
        <input type="number"
               name="edad"
               placeholder="Edad"
               required>    
        <input type="submit"
               value="Guardar">
      </form>

      {% if ingresado %}
      <h3>
        {{nombre_paciente}} fue registrado correctamente.
      </h3>
      {% endif %}

    </div>
  </body>
</html>
